#container {
    width: 100%;
    padding: 0;
}

.items {
    width: 800px;
    height: 700px;
    background:#ECECEC;
    &__img{
        width: 600px;
        height: 700px;
    }
}

#left, #right { 
    
}

.arrow{
    width: 15%;
    cursor: pointer;
}

.title{
    color:white;
    font-size: 60px;
    margin: 20px 0;
}