<div id="container">
    <h2 class="title">¡Bienvenid@ a tu web de SuperHeroes!</h2>
    <div ng2-carouselamos class="slides-wrapper"
    [items]="items"
    [width]="1850"
    [$prev]="prev"
    [$next]="next"
    [$item]="item">
    </div>
  
  <ng-template #prev>
    <img class="arrow" src="/assets/img/left.png" id="left" />
  </ng-template>
  <ng-template #next>
    <img class="arrow" src="/assets/img/right.png" id="right" />
  </ng-template>
  <ng-template #item let-item let-i="index">

    <div class="items">
      <img class="items__img" src="{{ item.img }}">
    </div>

  </ng-template>
</div>
