$color1: #212121;
$color2: #e80049;

.footer{
    background-color: $color1;
    height: 150px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-top: 2px solid $color2;
    position: absolute;
    width: 100%;

    .footer__block{
      border-left: 2px solid $color2;
      padding-left: 150px;

      ul {
        font-weight: bold;
    
        li {
          font-weight: normal;
          list-style: none;
          padding: 5px 0;
          cursor: pointer;
          font-size: 18px;
        }
        li:hover {
          color:$color2;
        }
      }
      .footer__block-line{
        span{
          margin:5px;
          display: inline-flex;
          align-items: center;
        }
      }
    }

    .footer__blockRRSS{
      border-left: 2px solid $color2;
      padding-left: 150px;
      span{
        display: flex;
        align-items: center;
      }
      ul {
        font-weight: bold;
    
        li {
          font-weight: normal;
          list-style: none;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 18px;
        }
        li:hover {
          color:$color2;
        }
      }
    }
    .footer_logo{
      .logo_img{
        width: 200px;
      }
    }
  }