<footer class="footer">
  <div class="footer_logo">
    <img class="logo_img" src="{{importLogo}}" alt="{{altLogo}}"/>
  </div>

  <div class="footer__block">
    <ul class="footer__block-line">
      <li *ngFor="let information of this.footer.information">{{ information }}</li>
    </ul>
  </div>

  <div class="footer__block">
    <ul class="footer__block-line">
      <li *ngFor="let help of this.footer.help">{{ help }}</li>
    </ul>
  </div>

  <div class="footer__blockRRSS">
    <ul class="footer__block-line">
      <span class="icon-instagram"><li>{{ community[0] }}</li></span>
      <span class="icon-twitter"><li>{{ community[1] }}</li></span>
      <span class="icon-facebook"><li>{{ community[2] }}</li></span>
    </ul>
  </div>

</footer>