$color1: #212121;
$color2: #e80049;

.about{

    text-align: center;

    .about-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:white;
        border: 2px solid $color2 ;
        background-color: $color1;
        border-radius: 2vw 8vw 4vw 7vw;
        width: 700px;
        height: 700px;
        margin: 40px 0;
        padding: 40px 0;
        p, h2, h3{
            margin: 10px 0;
            line-height: 25px;
        }

        .about__title{
            background-color: $color2;
            width: 300px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 10px;
            margin: 30px 0;
            font-weight: bold;
        }

        .about__subtitle{
            font-size: 15px;
        }

        .about__description{
            text-align: justify;
            padding: 30px;
            font-size: 20px;
        }

        .about__image{
            max-width: 100%;
            margin-top: 30px;
            img{
                width: 80%;
                border: 1px solid white;
                border-radius: 20px;
            }
        }

        .about__link{
            margin: 15px 0;
            font-size: 20px;
            
            a{
                outline: none;
                text-decoration: none;
                padding: 2px;
                color: white;
            }

            a:focus {
                border-bottom: 1px solid;
                background: $color2;
            }

            a:hover {
                background: $color2;
            }

            a:active {
                background: $color2;
            }
            .icon-gitlab{
                a{
                 margin:5px;
                }

            }
        }

    }

}