<div class="about">

    <div class="about-box">

        <div class="about__title">
            <h2>{{this.title}}</h2>
        </div>

        <div class="about__image">
            <img src="{{ this.image }}">
        </div>

        <div class="about__description">
            <p>{{this.description}}</p>
        </div>

        <div class="about__subtitle">
            <h3>{{this.subtitle}}</h3>
        </div>

<!--         <div class="about__link">
            <span class="icon-gitlab"><a href="https://gitlab.com/VeronicaSalvadores/superheroe-app">{{this.link}}</a></span>
        </div> -->

    </div>
    

</div>

