.details-card{
    padding: 15px 300px;
    border: 8px solid #e80049;
    background-color: rgba(27, 27, 27, 0.911);
    color:white;
    border-radius: 14vw 4vw 8vw 2vw;

    .details-card-name{
        img {
            max-width: 80%;
            border-radius: 3vw 4vw 8vw 2vw;
            margin-top: 20px;
            border: 4px solid black;
        }
    }

    .details-card-stats{
        border: 2px solid;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 10px 5px;
        p{
            margin:20px 0;
            font-size: 20px;
        }
        h2{
            margin:5px 0;
            font-size: 25px;
            text-decoration: underline white;
        }
    }

    .button_secundary{

        background-color: #e80049;
        color: white;
        font-size: 20px;
        padding: 10px;
        border-radius: 20px;
        
    }
}