<div class="details-card">

    <div class="details-card-name">
        <h1>{{details.name}}</h1>
        <div class="details-card-img">
            <img src="{{ details.image.url }}">   
        </div>
    </div>
    <div class="details-card-info">
<!--         <p>{{details.biography}}</p>
        <p>{{details.appeareance.gender}}</p>
        <p>{{details.appeareance.race}}</p>  -->
    </div>
    <div class="details-card-stats">
        <h2>Powerstats</h2>
        <p>Intelligence: {{details.powerstats.intelligence}}</p>
        <p>Strength: {{details.powerstats.strength}}</p>
        <p>Speed: {{details.powerstats.speed}}</p>
        <p>Durability: {{details.powerstats.durability}}</p>
        <p>Power: {{details.powerstats.power}}</p>
        <p>Combat: {{details.powerstats.combat}}</p>
    </div>
    <div class="details-card-button">
        <button class="button_secundary" (click)="goBack()">Volver</button>
    </div>

</div>

