$color1: #212121;
$color2: #e80049;

app-post-form{
    display: flex;
}

.post-form{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .post-form__post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 30px;
        text-align: center;
        align-items: center;
        padding: 20px 10px;
        border: 3px solid $color2;
        color: white;
        max-width: 20%;
        margin: 30px;
        background-color: $color1;
        h1{
            margin: 10px;
        }
        p{
            margin: 4px;
            font-size: 20px;
        }
        img{
            border: 2px solid white;
            border-radius: 20px;
            max-width: 80%;
            height: auto;
            margin: 10px 0;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);

        }
    }
}