<div class="post-form">
    <div class="post-form__post" *ngFor="let superFake of superHeroeFake">
        <h1> {{ superFake.namesuperheroe }} </h1>
        <img src="{{ superFake.image }}">
        <p>Nombre: {{ superFake.fullname }} </p>
        <p>Género: {{ superFake.gender }} </p>
        <p>Ciudad: {{ superFake.origin }} </p>
        <p>Inteligencia: {{ superFake.intelligence }} </p>
        <p>Fuerza: {{ superFake.strength }} </p>
        <p>Velocidad: {{ superFake.speed }} </p>
        <p>Defensa: {{ superFake.durability }} </p>
        <p>Poder: {{ superFake.power }} </p>
        <p>Ataque: {{ superFake.combat }} </p>
    </div>    
</div>
