$color1: #212121;
$color2: #e80049;

.header{
    background-color: $color1;
    border-bottom: 2px solid $color2;
    height: 135px;


    .navbar-container{
        display: flex;
        justify-content: space-around;

        .navbar{
            display: flex;
            align-items: center;
        }

        .navbar_logo{
            max-width: 225px;
            .logo_img{
                width: 225px;
            }
        }
        .navbar_links{
            list-style: none;
            display: inline-flex;

            .link_item{
                text-decoration:none; 
                color: white;
                font-size: 20px;
                cursor: pointer;
                margin: 20px 10px;
                border: 2px solid $color2;
                padding: 10px;
                border-radius: 20px;
            }
            .link_item:hover{
                background-color: $color2;
            }
        }
    }
}