<header class="header">
  <nav class="navbar-container">
    <div class="navbar_logo">
      <img class="logo_img" src="{{importLogo}}" alt="{{altLogo}}"/>
    </div>
    <div class="navbar">
      <ul class="navbar_links">
        <li class="link_item" role="button" routerLink="/home">Home</li>
        <li class="link_item" role="button" routerLink="/finder">SuperHeroes</li>
        <li class="link_item" role="button" routerLink="/form">Create Heroe</li>
        <li class="link_item" role="button" routerLink="/about">About</li>
      </ul>
      
    </div>
  </nav>
</header>