$color1: #212121;
$color2: #e80049;
$color3: #b2f1b8a1;

.form-heroes{
    color:white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0;

    .form__powers{
        display: inline-flex;
        text-align: center;
        .form__powers__line{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    .form__line{
        flex-direction: column;
        display: flex;
    }

    fieldset{
        width: 50%;
        padding: 10px 30px;
        border-radius: 20px;
        border: 2px solid $color2;
        background-color: $color1;
    }
    label{
        margin: 1px;
    }
    input[type=text]{
        padding: 5px;
        margin: 2px 0;
        display: inline-block;
        border-radius: 20px;
    }
    select{
        width: 10%;
        padding: 5px 10px;
        margin: 2px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: content-box;
        border-radius: 20px;
    }
    input[type=number] {
        padding: 5px;
        margin: 2px 0;
        border: 1px solid #ccc;
        border-radius: 20px;
        width: 70%;
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0;
    }
       
    input[type=text]:focus {
        background-color: $color3;
    }
    input[type=number]:focus {
        background-color: $color3;
    }
      
    div {
        padding: 5px;
    }

    .button_secundary{
        background-color: $color2;
        color: white;
        font-size: 25px;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        margin: 20px;
        width: 160px;
        height: 60px;
    }
    .button_secundary:hover{
        background-color: $color3;
    }
}