<app-post-form [superHeroeFake]="superFakeList"></app-post-form>

<form class="form-heroes" novalidate [formGroup]="formHeroes" (ngSubmit)="onSubmit()">

    <fieldset>
        <div class="form__line">
            <label for="namesuperheroe">Nombre de SuperHéroe:</label>
            <input type="text" id="namesuperheroe" formControlName="namesuperheroe" placeholder="Nombre SuperHeroe"/>
            <div *ngIf="!formHeroes.get('namesuperheroe').valid &&
                (formHeroes.get('namesuperheroe').dirty || submitted)">
            Has introducido mal el supernombre
            </div>
        </div>

        <div class="form__line">
            <label for="fullname">Nombre:</label>
            <input type="text" id="fullname" formControlName="fullname" placeholder="Nombre completo"/>
            <div *ngIf="!formHeroes.get('fullname').valid &&
                (formHeroes.get('fullname').dirty || submitted)">
            Has introducido mal tu nombre completo
            </div>
        </div>

        <div class="form__line">
            <label for="gender">Género:</label>
            <select id="gender" formControlName="gender">
                <option *ngFor="let gend of gender; let i = index" [value]="gender[i].id">
                    {{gender[i].name}}
                </option>
            </select>
            <div *ngIf="!formHeroes.get('gender').valid &&
                (formHeroes.get('gender').dirty || submitted)">
            Elige un género
            </div>
        </div>

        <div class="form__line">
            <label for="origin">Ciudad de origen:</label>
            <input type="text" id="origin" formControlName="origin" placeholder="Ciudad de origen"/>
            <div *ngIf="!formHeroes.get('origin').valid &&
                (formHeroes.get('origin').dirty || submitted)">
            Has introducido mal tu ciudad
            </div>
        </div>
        
        <div class="form__powers">
            <div class="form__powers__line">
                <label for="intelligence">Intelligencia:</label>
                <input type="number" id="intelligence" min="0" max="100" formControlName="intelligence" placeholder="Ej. 35"/>
                <div *ngIf="!formHeroes.get('intelligence').valid &&
                    (formHeroes.get('intelligence').dirty || submitted)">
                Introduce un número
                </div>
            </div>
    
            <div class="form__powers__line">
                <label for="strength">Fuerza:</label>
                <input type="number" id="strength" min="0" max="100" formControlName="strength" placeholder="Ej. 35"/>
                <div *ngIf="!formHeroes.get('strength').valid &&
                    (formHeroes.get('strength').dirty || submitted)">
                Introduce un número
                </div>
            </div>
    
            <div class="form__powers__line">
                <label for="speed">Velocidad:</label>
                <input type="number" id="speed" min="0" max="100" formControlName="speed" placeholder="Ej. 35"/>
                <div *ngIf="!formHeroes.get('speed').valid &&
                    (formHeroes.get('speed').dirty || submitted)">
                Introduce un número
                </div>
            </div>
    
            <div class="form__powers__line">
                <label for="durability">Defensa:</label>
                <input type="number" id="durability" min="0" max="100" formControlName="durability" placeholder="Ej. 35"/>
                <div *ngIf="!formHeroes.get('durability').valid &&
                    (formHeroes.get('durability').dirty || submitted)">
                Introduce un número
                </div>
            </div>
    
            <div class="form__powers__line">
                <label for="power">Poder:</label>
                <input type="number" id="power" min="0" max="100" formControlName="power" placeholder="Ej. 35"/>
                <div *ngIf="!formHeroes.get('power').valid &&
                    (formHeroes.get('power').dirty || submitted)">
                Introduce un número
                </div>
            </div>
    
            <div class="form__powers__line">
                <label for="combat">Ataque:</label>
                <input type="number" id="combat" min="0" max="100" formControlName="combat" placeholder="Ej. 35"/>
                <div *ngIf="!formHeroes.get('combat').valid &&
                    (formHeroes.get('combat').dirty || submitted)">
                Introduce un número
                </div>
            </div>
        </div>
        
        <div class="form__line">
            <label for="image">Imagen:</label>
            <input type="text" id="image" formControlName="image" placeholder="Adjuntar imagen URL"/>
            <div *ngIf="!formHeroes.get('image').valid &&
                (formHeroes.get('image').dirty || submitted)">
            Has introducido mal la imagen
            </div>
        </div>

    </fieldset>
    <button class="button_secundary" type="submit">Enviar</button>
</form>
