$color1: #212121;
$color2: #e80049;
$colorshadow: rgba(0, 0, 0, 0.336);

.finder_box {
    cursor: pointer;
    padding: 10px;
    width: 500px;
}

@media screen and (max-width: 600px){
    .finder_box{
        width: 75%;
        margin-bottom: 20px;
    }
}

.finder_card{
    box-shadow: 0 4px 8px 0 $colorshadow;
    text-align: center;
    background-color: rgba(145, 143, 143, 0.493);
    margin: 20px 0;
    color: black;
    border-radius: 2vw 8vw 4vw 7vw;
    border: 4px solid $color2;
    padding-top: 15px;
    padding-bottom: 30px;
    transition: 0.3s;
    .card_character_img{
        border-radius: 2vw 8vw 4vw 7vw;
        width: 65%;
        height: 65%;
        padding-top: 30px 0;
        border: 2px solid black ;
    }
    .card_name{
        color:white;
    }
}

.finder_card:hover {
    box-shadow: 0 8px 16px 0 $colorshadow;
}