<div class="finder_box" [routerLink]="['/details', superheroes.id]">
    <div class = "finder_card">
        <img class="card_character_img" src="{{ superheroes.image }}"/>
        <div class="card_name">
            <h2>{{ superheroes.name }}</h2>
        </div>
    </div>
</div>
